body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}


.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.container {
  width: 700px;
  margin: 50px auto;
}


h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
    color: #084C61;
    font-weight: normal;
}

p, a {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.banner h1 {
  font-size: 38px;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.btn-blue {
  font-family: "Times New Roman";
  text-decoration: none;
  background: #C2E7ED;
  color: #084C61;
  font-weight: lighter;
  font-style: italic;
  padding: 10px 0;
  font-size: 17px;
  margin: 20px 0;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
